body {
    margin: 0;
}

.btn-back {
    position: fixed;
    background: #00e7ff;  
    text-decoration: none;
    padding: 15px;
    right: 20px;
    bottom: 20px;
}

.btn-back:hover {
    background: #75f0d4;   
}